@charset "utf-8";

html,body{
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}
body {
    background: #ffffff url("../img/bg_index.png") no-repeat top center;
}
.index-box {
    margin: 0 auto;
    padding-top: 350px;
    width: 832px;
    height: 49px;
}
.index-box li {
    float: left;
    width: 208px;
    height: 100%;
}
.index-box li a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.index-xzfy {
    background: url("../img/bg_xzfy_s.png") no-repeat center center;
}
.index-ajbl {
    background: url("../img/bg_ajbl_s.png") no-repeat center center;
}
.index-zjcl {
    background: url("../img/bg_zjcl_s.png") no-repeat center center;
}
.index-zxyj {
    background: url("../img/bg_zxyd_s.png") no-repeat center center;
}
.index-xzfy:hover {
    background: url("../img/bg_xzfy.png") no-repeat center center;
}
.index-ajbl:hover {
    background: url("../img/bg_ajbl.png") no-repeat center center;
}
.index-zjcl:hover {
    background: url("../img/bg_zjcl.png") no-repeat center center;
}
.index-zxyj:hover {
    background: url("../img/bg_zxyj.png") no-repeat center center;
}