@charset "utf-8";
body {
    background: #ffffff url(../img/bg.png) no-repeat top center;
}
.top_logo{
    width: 480px;
    height: 70px;
	margin:40px auto 0;
	background: #ffffff url(../img/name.png) no-repeat top center;
}
.main{
	width:650px;
	margin:190px auto 0;
	overflow:hidden;
	}
.main a{
	display:block;
	float:left;
	width:189px;
	height:66px;
	padding-top:160px;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	text-decoration:none;
	}
.xzfyxx{
	margin-left:50px;
	background:url(../img/iconfont-yishenqing.png) no-repeat top center;
	}	
.ajbl{
	margin-left:180px;
	background:url(../img/Shape.png) no-repeat top center;
	}
.xzfyxx:hover{
	color:#13ceff;
	}
.ajbl:hover{
	color:#ffe28b;
	}